<div id="dashboard">
    <h1>CityHome</h1>
    <h3>(<a href="#" id="logout-link">logout</a>)</h3>
    
    <span>
        <button id="lights-button" class="btn btn-info">Lights</button>
        <button id="tables-button" class="btn btn-info">Tables</button>
        <button id="closets-button" class="btn btn-info">Closets</button>
        <button id="screens-button" class="btn btn-info">Screens</button>
        <button id="beds-button" class="btn btn-info">Beds</button>
    </span>
</div>
